/* General */

* {
    background-color: #f0f0f0; /* Light gray background */
    font-family: 'Arial', sans-serif; /* Change to Arial font */
    color: #333; /* Dark text color */
}

body {
    /* Removes default padding */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* Button */

button {
    margin: 30px;
    margin-left: 220px;
    font-size: 1em;
    border: 2px solid #007bff; /* Blue border */
    border-radius: 90%; /* Makes the border oval shaped */
    padding: 20px;
}

button:hover {
    background-color: #35b827; /* Blue background on hover */
    border-color: #1e1e21;
    color: #fff; /* White text on hover */
}



/* headers */

/* @keyframes slideText {
    /* Animation for the header 
    from { transform: translateX(-50%); }
    to { transform: translateX(0px); }
} */

section.header {
    background-image: url(resources/light_blue_banner.png);
    /* display: block; Make the image a block-level element */
    height: 377px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0%;
    border-bottom: 5px solid #007bff; /* Blue border */
    font-weight: bold;
}

header {
    text-align: center;
    float: flex;
    font-size: 2.5em;
    justify-content: center;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    margin: 0;
    margin-left: 200px;
    background-color: transparent;
    color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header.anim {
    /* Animation for header text 
    /* Left -> right slide in 2 seconds 
    animation-name: slideText;
    animation-duration: 2s;
    animation-delay: 0s;
} */

h2 {
    /* semi header */
    margin-left: 220px;
    font-size: larger;
    /* off the walls */
    margin: 10px 20vh; /* R/L margin, U/D margin */
    padding: 25px;
    font-weight: bold;
}

/* footer */

section.footer {
    position: relative; /* Position relative for absolute positioning */
    bottom: 0;
}

section.footer div {
    width: 100%;
    padding: 3%;
    padding-bottom: 7%;
    background-color: #131d44;
}

section.footer p {
    /* Copyright tag: more serious formatting */
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    background-color: #131d44;
    position: absolute;
    margin-left: 220px;
}

/* text Bodies */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.text {
    margin-left: 220px;
    font-size: 22px;
    line-height: 1.5; /* Space for readability */
    float: flex;
    padding-bottom: 10%;
    border-bottom: 5px solid #007bff; /* Blue border */
}

section.text p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #007bff; 
    margin: 10px 25vh; /* R/L margin, U/D margin */
    background-color: #f0f0f0; 
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px; /* Box shadow for text */
}

section.text p.space {
    background-color: transparent;
    box-shadow: none;
    padding: 5px;   
}

section.text p a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #007bff; /* Blue text color */
    background-color: transparent; 
}

section.text p a:hover {
    color: #333; 
}



/* images (in text bodies) */

img {
    height: 500px;
    width: fit-content;
    padding: 20px; /* Add some spacing between the image and text */
    padding-top: 0%;
    margin-top: 20px;

    box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px; /* Box shadow for text */
}

img.right_image {
    float: left; /* Float the image to the right: flipped */
    margin-left: 20vh;
    margin-right: 20px;
}

img.left_image {
    float: right; /* Float the image to the left: flipped */
    margin-left: 20px;
    margin-right: 20vh;
}

/* resume: Google Drive Embedding */
iframe {
    width: 100%;
    height: 1000px;
    border: none;
    background-color: #f0f0f0; /* Light gray background */
}



/* navigation Bar */

section.nav {
    padding-top: 0;
    margin: 0;
    border-right: 5px solid #007bff;

    /* Positioning the navigation bar on the left */
    position: fixed;
    top: 0;
    left: 0; /* Left aligned*/ 
    height: 100%;
    width: 175px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;

    z-index: 32984935;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    transition: color 0.3s, ease-in-out 0.3s;
    font-weight: 500;
    color: #007bff;
}

nav ul li a:hover {
    font-size: 1.65em;
    color: #333; 
    background-color: #007bff; /* Blue background on hover */
    text-decoration: none;
}

section.footer nav {
    padding-top: 0;
    margin: 0;
    border-top: #007bff;
    width: 150%;
}

section.footer nav ul {
    list-style: none;
    display: flex;
    justify-content: left; /* Horizontally centered */
    align-items: center; /* Vertically centered */
    padding-left: 25%;
}

section.footer nav ul li {
    display: inline-block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 0 20px;
}